<div class="card">
    <div class="card-header">
       <h4><a class="link" href="/pokemon/{{id}}">{{name}}</a></h4>
        <p>Own by {{user.username}}</p>
    </div>
        <p class="card-body">{{health_points}}</p>
</div>