<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokefyte</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/scss" href="/css/stadium.css">
   <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <nav>
    <a href="/">Home</a>
    <a href="/dashboard">Pokédex</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-dark">Logout</button>
    {{else}}
    <a id="login" href="/login">Login</a>
    {{/if}}
  </nav>
  <header>

    <h1><img class="logo" src="https://fontmeme.com/permalink/210504/11e21adbbf4cc1626f181a3f441c2837.png" alt="PokeFyteLogo" border="0" /></h1>

  </header>
  <main>
    <aside>
        <h2>Enjoy this great adventure!</h2>
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../images/pokemon_PNG102.png" class="img-fluid" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../images/pokemon_PNG125.png" class="img-fluid" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../images/pokemon_PNG160.png" class="img-fluid" alt="...">
    </div>
     <div class="carousel-item">
      <img src="../images/pokemon_PNG1.png" class="img-fluid" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://veekun.com/dex/media/pokemon/global-link/64.png" class="img-fluid" alt="...">
    </div>
  </div>
</div>
    </aside>


    <div class="posts">
      {{{body}}}
    </div>
  </main>
  <footer>
    <p class="text-center">Enjoy this open source project!</p>
  </footer>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

  <script src="/js/script.js"></script>
</body>

</html>
