<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokefyte</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <nav>
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <header>
    <h1><img src="https://fontmeme.com/permalink/210504/55fd03b1cf0640ec29428f00eb507249.png" alt="PokeFyteLogo" border="0"></h1>
  </header>
  <main>
    <aside>
        <h2>Enjoy this great adventure!</h2>
    </aside>
    <div class="posts">
      {{{body}}}
    </div>
  </main>
  <footer>
  </footer>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>