<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokefyte</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../../public/css/jass.css">
  <link rel="stylesheet" type="text/css" href="../../public/css/style.css">
</head>

<body>
  <nav>
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <header>
    <h1><img src="../../images/pokefyte-logo.png" alt="PokeFyteLogo"></h1>
  </header>
  <main>
    <aside>
        <h2>Enjoy this great adventure!</h2>
    </aside>
    <div class="posts">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../public/images/field1.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../public/images/field2.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../public/images/field3.png" class="d-block w-100" alt="...">
          </div>
        </div>
      {{{body}}}
    </div>
  </main>
  <footer>
  </footer>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>