{{#if loggedIn}}
<main id="battlefield">
  <div class="instructions">
    <p>Choose your Pokémon!</p>
  </div>
 
  <section class="characters" style="display:flex; flex-wrap:wrap; flex-direction: row;"></section>
  <section class="stadium">
    <section class="enemy"></section>
    <section class="hero"></section>
  </section>
  
  
  <ul class="attack-list" style="list-style-type:none"></ul>
</main>


<div class="audio">
  <audio class="sfx"></audio>
  <audio class="music" loop></audio>
</div>

<div class="modal-out">
  <div class="modal-in">
    <header></header>
  </div>
</div>
{{else}}

<a class="btn btn-danger btn-lg" href="/login" role="button">
<img src="../images/pokemon_PNG102.png"><img src="https://fontmeme.com/permalink/210506/ff2e11b75f97bc561c50bb63119029c0.png" alt="pokemon-font" border="0"></a>
{{/if}}
