<div class="row col-md-8">
  <div id="loginform" class="login-card mr-2">
    <h2 class="page-title text-center"><img src="https://fontmeme.com/permalink/210506/dff20ec2755a8299d43cfd0319c45d0f.png" alt="pokemon-font" border="0"></a></h2>
    <form class="form login-form">
      <div class="form-group">
        <input class="form-control" type="text" id="email-login" placeholder="Email" />
      </div>
      <div class="form-group">
        <input class="form-control" type="password" id="password-login" placeholder="Password" />
      </div>
      <div class="form-group text-center">
        <button class="btn btn-secondary" type="submit">LOGIN</button>
      </div>
    </form>
  </div>
  <div id="loginform" class="login-card">
    <h2 class="page-title text-center"><img src="https://fontmeme.com/permalink/210506/93bec69fdcb39bd46d7bd52a6bab107b.png" alt="pokemon-font" border="0"></a></h2>
    <form class="form signup-form">
      <div class="form-group">
        <input class="form-control" type="text" id="username-signup" placeholder="Username" />
      </div>
      <div class="form-group">
        <input class="form-control" type="text" id="email-signup" placeholder="Email" />
      </div>
      <div class="form-group">
        <input class="form-control" type="password" id="password-signup" placeholder="Password" />
      </div>
      <div class="form-group text-center">
        <button class="btn btn-secondary" type="submit">SIGN-UP</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>