body {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 16px;
  padding-top: 30px;
}

header {
  text-align: center;
  border-bottom: 15px solid #ee1515;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  font-size: 1.5rem;
  background-color: #222224;
}

header img {
  max-height: 100px;
  cursor: pointer;
}

strong {
  font-weight: 600;
  line-height: 1.5em;
}

.type {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 10px;
  background-image: url("http://orig15.deviantart.net/24d8/f/2011/057/3/5/ge___energy_type_icons_by_aschefield101-d3agp02.png");
  background-repeat: no-repeat;
  background-size: 500% 400%;
}

.type.electric {
  background-position: 100% 0;
}

.type.fire {
  background-position: 25% 33%;
}

.type.water {
  background-position: 63% 100%;
}

.type.grass {
  background-position: 100% 33%;
}

.type.fighting {
  background-position: 0 33%;
}

.row {
  display: block;
  min-height: 50px;
}

.instructions {
  text-align: center;
  padding: 20px 0;
}

.instructions p {
  font-size: 2em;
}

.characters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: visibility 0.3s ease, opacity 0.3s ease, height 0.3s ease;
  transition: visibility 0.3s ease, opacity 0.3s ease, height 0.3s ease;
}

.characters.hidden {
  visibility: hidden;
  opacity: 0;
  height: 0;
}

.char-container {
  width: 25%;
  text-align: center;
  padding: 25px 0;
  cursor: pointer;
}

.char-container img {
  max-height: 100px;
  margin-bottom: 13px;
  -webkit-transition: margin 0.3s ease, -webkit-transform 0.3s ease;
  transition: margin 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, margin 0.3s ease;
  transition: transform 0.3s ease, margin 0.3s ease, -webkit-transform 0.3s ease;
}

.char-container h2 {
  text-transform: capitalize;
  font-size: 1.5em;
  font-weight: 600;
  -webkit-transition: font-size 0.3s ease;
  transition: font-size 0.3s ease;
}

.char-container:hover img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  margin-bottom: 17px;
}

.char-container:hover h2 {
  font-size: 1.2em;
}

.stadium {
  background: #7DCD79;
}

.stadium > section {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.stadium > section .char {
  height: 175px;
  position: relative;
}

.stadium > section .char > * {
  position: absolute;
  text-transform: capitalize;
}

.stadium > section .char img {
  height: 150px;
}

.stadium > section .char .data {
  background: #CCC;
  width: 20vw;
  padding: 15px 2%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 25px;
}

.stadium > section .char .data progress {
  width: 100%;
}

.stadium > section .char .data p {
  text-align: right;
}

.stadium .enemy img {
  right: 15vw;
}

.stadium .enemy .data {
  left: 15vw;
}

.stadium .hero img {
  left: 15vw;
}

.stadium .hero .data {
  right: 15vw;
}

.attack-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #FFFAFA;
  position: initial;
  text-transform: capitalize;
}

.attack-list.disabled {
  opacity: 0.5;
  position: relative;
  z-index: -1;
  cursor: initial;
}

.attack-list li {
  width: 50%;
  text-align: center;
  padding: 25px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #666;
  cursor: pointer;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.attack-list li:hover {
  background: #EEE;
}

.modal-out {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(33, 33, 33, 0.75);
  z-index: 900;
}

.modal-out .modal-in {
  position: fixed;
  top: 15vh;
  left: 0;
  right: 0;
  width: 50vw;
  height: 70vh;
  margin: 0 auto;
  background: #FFFAFA;
}

.modal-out .modal-in header {
  position: relative;
  min-height: 30px;
  text-align: center;
  padding: 10px 3%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal-out .modal-in header h1 {
  font-size: 2.2em;
}

.modal-out .modal-in .close {
  cursor: pointer;
  position: absolute;
  top: 13px;
  right: 13px;
}

.modal-out .modal-in section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px 3%;
}
/*# sourceMappingURL=stadium.css.map */

aside {
  flex: 0;
  background-color: #f0f0f0;
  padding: 80px;
  text-align: left;
  color: black;
}

.posts {
  flex: 4;
  background-color: #fff;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

nav {
  display: flex;
  background-color: #ee1515;
}

nav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
}

nav a:hover {
  color: black;
}

.posts {
  flex: 4;
  background-color: #fff;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}

.card-img-top {
  max-width: 100%;
  max-height: 20rem;
  margin-bottom: 13px;
  height: auto;
}

.logo {
  max-width: 100%;
  max-height: 20rem;
  margin-bottom: 13px;
  height: auto;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 7px #d6d6d6;
  display: inline-block;
  position: relative;
  left: 175%;

}

/* CARDS */
.card {
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double black;
  border-radius: 10px;
  background-color: #2b2b2b;
  color: #707070;
}

.login-card {
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  /* max-width: 50%; */
  padding: 5px;
  border: 3px solid black;
  border-radius: 20px;
  border-style: double;
  border-width: thick;
  background-color: #2b2b2b;
  color: #707070;
}

.card header {
  color: #707070;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: #2b2b2b;
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}