body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: #222224;
}

header {
    border-bottom: 15px solid #ee1515;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    font-size: 1.5rem;
    background-color: #222224;
}

header h1 {
    font-size: 3rem;
    color: black;
    background-color: white;
    width: 20%;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    box-shadow: 5px 7px #d6d6d6;
    position: absolute;
    left: 39%;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

aside {
    flex: 0;
    background-color: #f0f0f0;
    padding: 80px;
    text-align: left;
    color: black;
}
  
nav {
    display: flex;
    background-color: #ee1515;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}
  
nav a:hover {
    color: black;
}
  
.posts {
    flex: 4;
    background-color: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
  
.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
    transition: color 0.1s;
    margin-left: 16px;
}
  
img {
    max-width: 50%;
    max-height: 20rem;
    margin-bottom: 13px;
    height: auto;
}

.card-img, .card-img-top {
    max-width: 100%;
    height: auto;
}

.post {
    background-color: #707070;
    margin-bottom: 2%;
    line-height: 150%;
    border-color: black;
    border: solid;
}
  
.post-head {  
    /* margin-bottom: 10px; */
    padding: 2px;
}
  
.title {  
    font-size: 150%;  
    margin: 2px;
}
  
.meta {
    font-style: italic;
    font-size: 80%;
    margin: 2px;
}
  
.post-text {
    background-color: whitesmoke;
    padding: 3px;
}
  
/* CARDS */
.card {
    margin: 20px;
    flex: 0 1 300px;
    border: 7px double black;
    border-radius: 10px;
    background-color: #2b2b2b;
    color: #707070;
}
  
.login-card {
    margin: 0 0 20px 0;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 5px;
    border: 3px solid black;
    border-radius: 20px;
    border-style: double;
    border-width: thick;
    background-color: #2b2b2b;
    color: #707070;
}
  
.card header {
    color: #707070;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    background-color: #2b2b2b;
    padding: 0.625rem;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}
  
.card-body {
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
}
  
.gallery-name {
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 2px 2px 5px var(--secondary);
    border: 10px groove var(--light);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 100px;
    padding-left: 100px;
}
  
  /* LAYOUT */
.container {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    align-items: center;
}

footer {
    height: 30px;
    background-color: #ee1515;
}
.borderNL{
    border: solid#707070;
    background-color: #2b2b2b;
    color: white;

}

#backGround{
    background-image:url(https://assets.pokemon.com//assets/cms2/img/misc/virtual-backgrounds/sword-shield/pokemon-in-the-wild.png);
    background-repeat: no-repeat;
    background-size: cover;
}
